<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top-Secret</title>
</head>
<body>
<img src="https://st.depositphotos.com/1007499/5072/v/950/depositphotos_50721013-stock-illustration-top-secret-stamp.jpg" alt="secret" style="width: 50%;height: 50%;">
<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>