<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <style>
        
        h1{
            text-align: center;
        }
        .container   {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        }

        button{
            width: 130px;
            height: 100px;
            background-color: orange;
            text-align: center;
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: large;
            color: white;
            cursor: pointer;
        }

        button:hover{
            background-color: rgb(253, 180, 44);
        }

    </style>
</head>
<body>
    
    <h1>Authentication</h1>

    <div class="container">
        <a href="/login"><button>Login</button></a>

        <a href="/register"><button>Register</button></a>

    </div>
</body>
</html>